@import "//at.alicdn.com/t/font_1633254_ptv3517soa.css";

@font-face {
    font-family: 'iconfont';  /* project id 1633254 */
    src: url('//at.alicdn.com/t/font_1633254_pm0w0z2zqj.eot');
    src: url('//at.alicdn.com/t/font_1633254_pm0w0z2zqj.eot?#iefix') format('embedded-opentype'),
    url('//at.alicdn.com/t/font_1633254_pm0w0z2zqj.woff2') format('woff2'),
    url('//at.alicdn.com/t/font_1633254_pm0w0z2zqj.woff') format('woff'),
    url('//at.alicdn.com/t/font_1633254_pm0w0z2zqj.ttf') format('truetype'),
    url('//at.alicdn.com/t/font_1633254_pm0w0z2zqj.svg#iconfont') format('svg');
  }

body{
    color: #3C3C3C;
    background:#f4f4f4f4;
    font: 12px/1.5 tahoma,arial,'Hiragino Sans GB','\5b8b\4f53',sans-serif;
}
a{
    cursor: pointer;
}
a:hover{
    color:#f40;
}
.container{
    width:990px;
    margin:0 auto;
}
.clearfix::after{
    content:'';
    display:block;
    clear: both;
}
.left{
    float: left;
}
.right{
    float: right;
}
.hidden{
    display:none;
}