header{
    background-color: #f5f5f5;
    border-bottom: 1px solid #eee;
    box-sizing: border-box;

}
header .nav{
    width:1190px;
    height: 35px;
    margin:0 auto;
    line-height: 35px;
    box-sizing: border-box;
}
header .nav .nav-menu{
    float: left;
    padding:0 6px;
    box-sizing: border-box;
}
header .nav .nav-menu .iconfont{
    vertical-align: -5px;
    font-size: 10px;
    margin-left: 6px;
}
header .nav .nav-menu .iconfont.icon-shoucangjia{
    color:#ccc;
    vertical-align: top;
}
header .nav .nav-menu:hover label{
    color:#f50;
}
header .nav .nav-menu:hover label .icon-shoucangjia{
    color:#f50;
}
header .nav .nav-menu .iconfont.icon-gouwuche,
header .nav .nav-menu .iconfont.icon-wangzhandaohang{
    color:#f50;
    vertical-align: top;
}
header .nav li.list{
    position: relative;
}
header .nav li.list .ul{
    background-color: #fff;
    position: absolute;
    top:36px;
    left: -1px;
    z-index: 1;
    border:1px solid #eee;
    border-top: none;
    width:100%;
}
header .nav li.list .ul li{
    padding-left: 6px;
    padding-right: 6px;
    width:100%;
    box-sizing: border-box;
}
header .nav li.list:hover{
    background-color: #fff;
    border-left: 1px solid #eee;
    border-right: 1px solid #eee;
}
header .nav li.list:hover .ul{
    display:block;
}
header .nav .nav-menu .ul li:hover{
    background-color: #f4f4f4;
}
header .nav .nav-menu .ul li a:hover{
    color:rgb(60, 60 ,60);
}
header .nav .nav-left .district .ul{
    width:242px;
    height: 275px;
    overflow-y:scroll;
    overflow-x:hidden;
}
header .nav .nav-left .district .ul li{
    height: 29px;
    line-height: 29px;
    padding-left: 8px;
    width:100%;
}
header .nav .nav-left .register .login{
    color:#f50;
}
header .nav .nav-right .site-map{
    font-size: 12px;
}
header .nav .nav-right .site-map .ul{
    width:1197px;
    height: auto;
    position: absolute;
    left:-1090px;
    top:36px;
}
header .nav .nav-right .site-map .ul .li{
    width:24%;
    border-right: 1px solid #eee;
    box-sizing: border-box;
}
header .nav .nav-right .site-map .ul .li:hover{
    background-color: #fff;
}
header .nav .nav-right .site-map .ul .li a:hover{
    color:#fff;
}
header .nav .nav-right .site-map .ul .li .submenu li{
   float: left;
   width:50px;
   height: 30px;
   line-height: 30px;
   text-align: center;
}
header .nav .nav-right .site-map .ul .li .submenu li .mark{
    position: relative;
}
header .nav .nav-right .site-map .ul .li .submenu  li .mark .hot{
    background: url("../img/hot.gif") no-repeat;
    position: absolute;
    top:-10px;
    right: -8px;
    background-size: auto;
    width:10px;
    height:15px;
}
header .nav .nav-right .site-map .ul .li .submenu li .mark .new{
    background: url("../img/new.gif") no-repeat;
    position:absolute;
    top:-10px;
    right: -8px;
    background-size: auto;
    width:10px;
    height:15px;
}
header .nav .nav-right .site-map .ul .li .title1,
header .nav .nav-right .site-map .ul .li .title2,
header .nav .nav-right .site-map .ul .li .title3,
header .nav .nav-right .site-map .ul .li .title4{
    font-size: 16px;
    font-weight: 600;
    margin:5px;
}
header .nav .nav-right .site-map .ul .li .title1{
    color:#fc4200;
}
header .nav .nav-right .site-map .ul .li .title2{
    color:#9fb838;
}
header .nav .nav-right .site-map .ul .li .title3{
    color:#d75696;
}
header .nav .nav-right .site-map .ul .li .title4{
    color:#2e9fdb;
}
header .nav .nav-right .site-map .ul .li .s1 li:hover{
    background-color: #f50;
    color:#fff;
    border-radius: 4px;
}
header .nav .nav-right .site-map .ul .li .s2 li:hover{
    background-color: #a0b959;
    color:#fff;
    border-radius: 4px;
}
header .nav .nav-right .site-map .ul .li .s3 li:hover{
    background-color: #df61ab;
    color:#fff;
    border-radius: 4px;
}
header .nav .nav-right .site-map .ul .li .s4 li:hover{
    background-color: #52a0e5;
    color:#fff;
    border-radius: 4px;
}
header .nav .nav-right .site-map .ul .li:last-child{
    border-right:none;
}

.search{
    background-color:#fff;
}
.search-wrap{
    height: 97px;
    padding-top: 24px;
}
.search-wrap .logo{
    width:190px;
    margin-top: 10px;
}
.search-wrap .logo .url .h1{
    background:url("../img/logo.png") no-repeat;
    width:142px;
    height: 0;
    padding-top: 58px;
    overflow: hidden;
}
.search-wrap .main-search{
    margin-left: 218px;
    margin-right: 180px;
}
.search-wrap .main-search .top-search{
    margin-left: 20px;
}
.search-wrap .main-search .top-search .option{
    height: 22px;
    line-height: 22px;
    margin-right: 4px;
    width:36px;
    text-align: center;
    color:#f40;
    cursor: pointer;
    display:inline-block;
}
.search-wrap .main-search .top-search .option.checked{
    color:#fff;
    font-weight: 700;
    background-image: linear-gradient(to right,#ff9000 0,#ff5000 100%);
    background-repeat: repeat-x;
    border-top-right-radius: 6px;
    border-top-left-radius: 6px;
}
.search-wrap .main-search .top-search .option:hover{
    background-color: #FFEEE5;
    color: #FF5400;
}
.search-wrap .main-search .top-search .option.checked:hover a{
    color:#fff;
}
.search-wrap .main-search .middle-search{
    position: relative;
}
.search-wrap .main-search .middle-search .search-box{
    margin-right: 74px;
    border: 2px solid #ff5000;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    border-right: none;
    overflow: hidden;
    height: 36px;
    padding-left:20px;
}
.search-wrap .main-search .middle-search .search-box .txt{
    width:472px;
    padding: 6px 0;
    text-indent: 10px;
    height: 24px;
    line-height: 24px;
}
.search-wrap .main-search .middle-search .search-box .icon-paizhao{
    cursor: pointer;
}
.search-wrap .main-search .middle-search .search-btn{
    font-size: 18px;
    font-weight: 700;
    color: #FFF;
    background-color: #FF4200;
    cursor: pointer;
    position: absolute;
    right: 0;
    top: 0;
    width: 74px;
    height: 40px;
    overflow: hidden;
    text-align: center;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}
.search-wrap .main-search .bottom-search{
    margin-top: 5px;
}
.search-wrap .main-search .bottom-search ul li{
    float: left;
    margin-right: 8px;
}
.search-wrap .ad{
    margin-top: -15px;
}
.search-wrap .ad img{
    height: 114px;
}

.main-nav{
    background-image: linear-gradient(to right,#ff9000 0,#ff5000 100%);
    background-repeat: repeat-x;
    height: 30px;
    line-height: 30px;
    color:#fff;
    font-weight: 400;
    font-size: 16px;
}
.main-nav .container .title{
    width: 190px;
    text-align: center;
    background: #ff5000;
}
.main-nav .container a:hover{
    color:#fff;
}
.main-nav .container .nav-left{
    font-size: 17px;
    font-weight: 700;
    margin-left: 10px;
}
.main-nav .container .nav-left a{
    margin:0 10px;
    vertical-align: 2px;
}
.main-nav .container .nav-left::after{
    display:inline-block;
    content:"|";
    font-weight: 200;
    vertical-align: 3px;
}
.main-nav .container .nav-right a{
    margin:0 6px;
    font-weight: 700;
}

.display{
    height: 552px;
}
.display .display-relevance{
    width:700px;
    margin-top: -3px;
}
.display .display-relevance .display-item{
    width:190px;
    border:1px solid #f40;
    border-top: none;
    box-sizing: border-box;
    background:#fff;
    border-right: none;
}
.display .display-relevance .display-item .list{
    line-height: 32px;
    height: 32px;
    padding-left: 25px;
    padding-right: 19px;
    font-size: 14px;
    font-weight: 400;
    width: 145px;
    color: #666;
    position: relative;
}
.display .display-relevance .display-item .list .iconfont{
    position: absolute;
    right: 10px;
    font-size: 10px;
}
.display .display-relevance .display-item .list:hover{
    background-color: #FFEEE5;
    color: #FF5400;
}
.display .display-relevance .display-item .list a:hover{
    text-decoration:underline;
}
.display .display-relevance .dispaly-main{
    border:2px solid #f40;
    margin-left: 190px;
    width:506px;
    height: 478px;
}
.display .dispaly-aside{
    width:280px;
    background:#fff;
    height: 478px;
    margin-left: 10px;
    margin-top: 10px;
}
.display .dispaly-aside .user{
    background:url(../img/user-bg.png) no-repeat;
    background-size: 280px 145px;
    background-position: 0 0;
    width:280px;
    height: 145px;
    text-align: center;
}
.display .dispaly-aside .user .head-portrait{
    padding-top: 5px;
}
.display .dispaly-aside .user .head-portrait .head-img{
    background:url(../img/touxiang.jpg) no-repeat;
    width:50px;
    height: 50px;
    margin:0 auto;
    background-size: 50px 50px;
    display:block;
    border-radius: 50%;
}
.display .dispaly-aside .user .function{
    height: 17px;
    line-height: 17px;
    margin-top: 2px;
}
.display .dispaly-aside .user .function .text{
    border-radius: 9px;
    background: #ffe4db;
    padding:2px 5px;
    padding-left: 0;
    box-sizing: padding-box;
    color:#f40;
}
.display .dispaly-aside .user .function .text.mark1{
    margin-right: 6px;
}
.display .dispaly-aside .user .function .text.mark1::before{
    background:url(../img/mark.png) no-repeat;
    content:"";
    display:inline-block;
    width:14px;
    height: 16px;
    background-position: -1px -528px;
    background-size:auto;
    vertical-align: -3px;
}
.display .dispaly-aside .user .function .text.mark2::before{
    background:url(../img/mark.png) no-repeat;
    content:"";
    display:inline-block;
    vertical-align: -3px;
    width: 17px;
    height: 16px;
    background-position: 0px -573px;
    background-size: auto;
    vertical-align: -3px;
} 
.display .dispaly-aside .user .button{
    margin-top:15px;
}
.display .dispaly-aside .user .button .btn{
    line-height: 25px;
    width: 75px;
    margin-right: 7px;
    text-align: center;
    color: #FFF;
    background-image: -webkit-linear-gradient(left,#ff5000 0,#ff6f06 100%);
    background-image: -o-linear-gradient(left,#ff5000 0,#ff6f06 100%);
    background-image: linear-gradient(to right,#ff5000 0,#ff6f06 100%);
    background-repeat: repeat-x;
    border-radius: 4px;
    background-clip: padding-box;
    font-size: 14px;
    font-weight: 700;
}
.display .dispaly-aside .message1{
    color: #F40;
    padding-left: 82px;
    height: 26px;
    line-height: 26px;
    background: #ffe4dd;
    font-size: 12px;
    width:280px;
    box-sizing: border-box;
}
.display .dispaly-aside .message1 .message::after{
    content:"";
    display: inline-block;
    border-style: solid;
    margin-left: 32px;
    border-width: 5px 0 5px 7px;
    border-color: transparent transparent transparent #f40;
}
.display .dispaly-aside .information{
    height: 98px;
    padding-top: 10px;
    width: 290px;
}
.display .dispaly-aside .information ul{
    height: 24px;
    margin-top: 4px;
    overflow: hidden;
    margin-right: -2px;
    padding: 0 8px;
}
.display .dispaly-aside .information ul li{
    float: left;
    line-height: 20px;
    width: 32px;
    text-align: center;
    margin: 0 11px;
}
.display .dispaly-aside .information ul li.checked{
    padding: 0;
    font-weight: 700;
    border-bottom: 2px solid #F40;
}
.display .dispaly-aside .information .details{
    padding:10px;
    line-height: 2;
    padding-left: 15px;
}
.display .dispaly-aside .other-func ul{
    width:294px;
}
.display .dispaly-aside .other-func ul li{
    float: left;
    width:70px;
    height: 75px;
    border: 1px #eee solid;
    text-align: center;
    box-sizing: border-box;
}
.display .dispaly-aside .other-func ul li::before{
    background:url(../img/mark.png) top center/auto auto no-repeat;
    content:"";
    display:block;
    width:40px;
    height: 30px;
    margin:0 auto;
    margin-top: 10px;
}
.display .dispaly-aside .ali-app h3{
    font-size: 14px;
    padding-left: 14px;
    height: 30px;
    line-height: 30px;
}
.display .dispaly-aside .ali-app h3 .more{
    float: right;
    font-size: 12px;
}
.display .dispaly-aside .ali-app h3 .iconfont{
    margin-top: 1px;
}
.display .dispaly-aside .ali-app ul{
    margin-left: 15px;
}
.display .dispaly-aside .ali-app ul li{
    float: left;
    height: 32px;
    margin-right: 21px;
    margin-bottom: 8px;
}