body{
    background:url(../img/bg.jpg)  black center top no-repeat;
}
header{
    width:1230px;
    height: 64px;
    background:url(../img/bg_nav.jpg);
    margin:20px auto;
}
header .nav{
    line-height: 64px;
    padding:0 45px;
    color:#e97b08;
    position: relative;
}
header .nav a{
    margin:0 30px;
}
header .nav a img{
    position: absolute;
    width:150px;
    left:555px;
    top:-18px;
}
.img{
    width:640px; 
    height: 80px;
    /* overflow: hidden; */
    margin:0 auto;
    margin-top:500px;
    box-sizing: border-box;
    cursor: pointer;
}
.img .bt{
    overflow: hidden;
    float: left;
    width:310px;
    margin:0 5px;
}
.img .bt2 img{
    margin-left: -330px;
}
.clearfix{
    clear: both;
    content:" ";
    display:block;
}
.pics{
    width: 1210px;
    margin:100px auto;
    box-sizing: border-box;
    
}
.pics .pic{
    float: left;
    margin:0 5px;
    border:1px solid  #47402d;
    cursor: pointer;
}
.pics .pic h2{
    background-color: #211510;
    color:#f8b700;
    font-size: 14px;
    height:35px;
    line-height: 35px;
    text-align: center;
}